body { background-color:#ccc;}
body, table { font:normal 11px sans-serif; }
table { table-layout:fixed; border-collapse:collapse; }
h2 { margin:5px 0;}

th, ta { background-color:#ffcc00; font-weight:bold;}

td,th,ta,tn { border-top:1px solid #000; border-left:1px solid #000; padding:2px 5px 0 5px; }

.magaza td,.magaza th { width:70px; overflow:hidden; white-space:normal; }
td { text-align:right; }

.magazas {  white-space:nowrap; padding-left:103px; overflow-x:scroll; }
.magazas div { display:inline-block; }
.magazas table { border-bottom:1px solid #000; border-right:1px solid #000; background-color:#fff; }

.magazas div.tarih { position:absolute; margin-left:-103px; }
.magazas div.tarih table { width:100px; }
.tarih td, .tarih th { text-align:center !important; vertical-align:middle !important; }

tbody.toplam th, tbody.toplam td, tfoot.toplam th, tfoot.toplam td {
	text-align:right;
	height:20px;
	background-color:#ffcc00; 
	font-weight:bold;
}

.magazas tr.head th {height:20px;}
.magazas tr.head2 td, .magazas tr.head2 th {
	height:50px;
	vertical-align:top;
	padding-top:7px;
}

.stats {
	margin-top:10px;
	border-bottom:1px solid #000; 
	border-right:1px solid #000;
	background-color:#fff;
	display:block;
	float: left;
    clear: left;
}

.stats tbody, .stats tr , .stats th, .stats td {	display:block !important; }
.stats td {	text-align:right; }
.stats tbody, .stats thead {	width:100px; float:left;  }
.stats thead { width:180px; }
.stats thead th { text-align:left; }
.stats tr.head2 {
	width:140px;
}



.neg {
	color:#f00 !important;
}

l,v { display:inline-block; min-width:100px; }


.footer {
	position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    padding: 5px 5px;
    background-color: #ccc;
    border-top: 1px solid #777;
    line-height: 25px;
}

button, input[type="submit"], input[type="button"], label {
    font: normal 11px sans-serif;
    height: 20px;
    background-color: #ffcc00;
    font-weight: bold;
    border: 1px solid #000;
    min-width: 70px;
    margin-right: 5px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
    text-align: center;
    line-height: 19px;
    cursor: pointer;
}

input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
    background-color: #000;
    color:#ffcc00;
}

input[type="radio"],input[type="checkbox"]  {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

br { clear: both; }







